body{
    background-position: center;
    background-size: 100%;
    color: rgba(252, 6, 6, 0.89);
}
p{
    font-family: "Forte", sans-serif;
    font-size: 100px;
    color: aquamarine

}
button{
    font-family: "Forte", sans-serif;
    font-size: 30px;
    height: auto;
    width: auto;
}

button:hover{
    background-color: aquamarine;
}