body{
    background-position: center;
    background-size: 100%;
    color: rgba(252, 6, 6, 0.89);
}
p{
    font-family: "Forte", sans-serif;
    font-size: 150px;
    color: aquamarine

}

.block{
    font-family: "Forte", sans-serif;
    font-size: 100px;
    text-align: center;
    height: auto;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 5%;    
}

button:hover{
    background-color: aquamarine;
}